<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>公式一覧</title>
</head>

<body>
    <h1>公式一覧</h1>

    <a href="/formula/create">新規登録</a>

    <ul>
        <% list.forEach(item=> { %>
            <li>
                <a href="/formula/<%= item.id %>">
                    <%= item.name %>
                </a>

                <a href="/formula/edit/<%= item.id %>">[編集]</a>

                <a href="/formula/delete/<%= item.id %>">[削除]</a>
            </li>
            <% }); %>
    </ul>
</body>

</html>